  .conteudos-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .conteudo-item {
    background-color: rgb(33, 48, 48);
    color: #fff;
    margin: 10px;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    text-align: left;
    flex: 0 0 calc(33.33% - 20px);
    cursor: pointer;
    box-sizing: border-box;
    
    max-height: 200px;
    overflow: hidden;
    box-shadow: 1px 1px px rgb(40, 82, 94);
  }

  .titulo-conteudo{
    text-transform: uppercase;

  }

  .container-estudos-generico {
    text-align: center;
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .conteudo-item:hover{
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
  }
  
  .titulo-descricao{
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

  .conteudo-detalhes {
    display: flex;
    align-items: start;
    width: 100%;
    height: 100%;
  }
  
  /* .icone-conclusao {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #25e625;
    border-radius: 50%;
    margin-right: 10px;
    color: #000;
    cursor: none  !important;
  } */
  
  .conteudo-info {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .conteudo-info > div{
    text-align: center;
  }

  .non-clickable {
    cursor: default;
    background-color: #383535 !important;
  }
  

.quantidades{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ffffffc4;
  border-radius: 50%;
  margin-right: 10px;
  color: #000;
}

.estudoDescription{
  max-width: 800px; 
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
  font-size: 1.2rem;
}

.estudoDescription::first-letter {
  text-transform: uppercase;
}

.tipoEstudo{
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px;
}

.sobreOEstudo{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.tipoEstudo:hover{
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

.infosEstudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.button-adicionar-conteudo {
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(21, 54, 63);
  padding: 0; /* Removendo o preenchimento interno do botão */
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(40, 82, 94);
}


.title-add-conteudo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.novo-conteudo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
  min-width: 250px;
}

.novo-conteudo-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

.novo-conteudo-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.novo-conteudo-container textarea{
  border: none;
}

.novo-conteudo-container button:hover {
  background-color: #0056b3;
}


.rocket-link{
  font-size: 4rem;
  color: white;
  cursor: pointer;
  transition: font-size 0.9s ease; /* Transição suave de tamanho da fonte */
}

.rocket-link:hover {
  color: rgb(72, 111, 121);
  font-size: 4.5rem; /* Tamanho maior no hover */
}


.estudoRoadMap{
  color: rgb(72, 111, 121);
  cursor: pointer;
}