/* Header.css */
.logo img {
  cursor: pointer;
  width: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  background-color: #333;
}

a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

header a:hover {
  cursor: pointer;
  transition: 0.3s ease, color 0.3s ease; 
  border-radius: 4px;
  background-color: #555;
  color: #fff; 
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }
}

/* Estilos para telas menores que 576px (tamanho típico de dispositivos móveis em orientação retrato) */
@media screen and (max-width: 576px) {
  header {
    justify-content: center;
  }
}

.star-icon{
  cursor: pointer;
}
.star-container {
  display: inline-block;
  position: relative;
  color: gold;
  font-size: 3.2rem;
  margin-right: 24px;
}

.star-text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: monospace;
}
