.container-about {
  max-width: 800px; 
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}

.container-about h2 {
  margin-bottom: 10px;
}

.container-about p {
  line-height: 1.5; 
  font-size: 1.1rem;
}


.lista-sobre-pontuacoes{
  list-style: none;
}

.sobre-o-projeto,
.sobre-pontuacoes
{
  max-width: 600px;
  margin: auto;
  text-align: start;
}

.sobre-o-projeto h2{
  text-align: center;
}

.sobre-pontuacoes li{
  list-style: inside;
  text-align: start;
}

.sobre-o-projeto span {
  color: rgb(7, 62, 77);
  font-size: 1.7rem;
  text-shadow: 0 0 2px #000000;
  font-weight: 800; /* ou font-weight: bolder; */
}
